extends layout

block navigation
	header.navigation.mobile
		div#left-activator.slide-button
		div#center-content
		div#right-activator.slide-button
	header.navigation.desktop
block picker
	section.picker
		p name: #{model.name}
		p baseCost: #{model.baseCost}
		p thumbnail: #{model.thumbnail}
		p isDefault: #{model.isDefault}
		p mainImage: #{model.mainImage}
		p packages:
			ul
				- model.packages.forEach(function(item,index) {
				li
					p= item.name+' '+index
				- })
block preview
	section.preview
		