extends layout

block navigation
	header.navigation.mobile
		div#left-activator.slide-button
		div#center-content
		div#right-activator.slide-button
	header.navigation.desktop
		div.logo 
			p test
		ul
			li 
				a(href="#") home
			li
				a(href="#") products
			li
				a(href="#") services
			li
				a(href="#") configure
			li
				a(href="#") contact
block picker
	section.picker
		nav
			ul.choose
				li.left	
					form(action='/', method='get')
						input(type="hidden", name="model", value="#{model.id}")
						button(type="submit") <
				li
					p choose package
				li.right
					form(action='/colour',method='get')
						input(type="hidden", name="model", value="#{model.id}")
						input(type="hidden", name="package")#itemID
						button(type="submit") >
		div.running_total
			p.runningCost Price &pound; 
				div.cost #{running_total}						
		nav.items
			ul.menu_left
				- package.colours.forEach(function(item,index) {
				li.item
					p #{item.colour}
					input(type="hidden", name="mainImage", value="#{item.mainImage}")
					input(type="hidden", name="id", value="#{item.id}")
					input(type="hidden", name="runningCost", value="#{(model.baseCost + package.accumilativeCost + item.accumilativeCost)}")
				- })
block preview
	section.preview
		div.image
			img(src="#{all_models[model.id - 1].mainImage}")
			
		div.running_total
			p.runningCost Price &pound; 
				div.cost #{running_total}