extends layout

block content
  h1 #{title}
  p Welcome to #{title}
  p provaprovaprova
  div#test_id.marius ciao #{title}
  ul.pippo
    li #{title}
    - rows.forEach(function(item) {
    li= item
    - })
block sidebar
  p welcome to the sidebar
