extends layout

block navigation
	header.navigation.mobile
		div#left-activator.slide-button
		div#center-content
		div#right-activator.slide-button
	header.navigation.desktop
		div.logo 
			p
		ul
			li 
				a(href="#") home
			li
				a(href="#") products
			li
				a(href="#") services
			li
				a(href="#") configure
			li
				a(href="#") contact
		div.basket
			div.content
block picker
	section.picker
		nav
			ul.choose
				li.left

				li
					p choose package
				li.right
					form(action='/package',method='get')#modelForm
						input(type="hidden", name="model", value="#{all_models[model_id -1].id}")#itemID
						button(type="submit") >

		div.running_total
			p.runningCost Price &pound; 
				div.cost #{running_total}

		nav.items
			ul.menu_left
				- all_models.forEach(function(item,index) {
				li.item
					p= item.name
					img(src=item.thumbnail, alt="thumbnail")
					input(type="hidden", name="mainImage", value="#{item.mainImage}")
					input(type="hidden", name="id", value="#{item.id}")
					input(type="hidden", name="runningCost", value="#{item.baseCost}")
				- })
				
block preview
	section.preview
		div.image
			img(src="#{all_models[model_id -1].mainImage}")
							
		div.running_total
			p.runningCost Price &pound; 
				div.cost #{running_total}
				
